<launch> 
  <arg name="reference" default="false" doc="whether to use mocap_optitrack to provide additional reference to SLAM" />

  <node pkg="mocap_optitrack"
    if="$(arg reference)"
    type="mocap_node"
    name="mocap_node"
    respawn="false"
    launch-prefix=""
    required="true" output="screen">
    <rosparam file="$(find uav_launch)/config/mocap_optitrack/uav_reference.yaml" command="load" />
      <param name="local_adress" value="130.75.137.178" type="str" />
      <param name="server_adress" value="130.75.137.104" type="str" />
  </node>

  <node pkg="mocap_optitrack"
    unless="$(arg reference)"
    type="mocap_node"
    name="mocap_node"
    respawn="false"
    launch-prefix=""
    required="true" output="screen">
    <rosparam file="$(find uav_launch)/config/mocap_optitrack/uav.yaml" command="load" />
      <param name="local_adress" value="130.75.137.178" type="str" />
      <param name="server_adress" value="130.75.137.104" type="str" />
  </node>

  <node pkg="tf"
        type="static_transform_publisher"
        name="map_to_optitrack_publisher"
        args="0 0 0 0 0 0 optitrack_map optitrack 100" />
</launch>
