<launch>
	<arg name="server_address" default="10.42.1.219" />
	<arg name="udp_port" default="0" />
	
	<rosparam param="model_list">[UAV]</rosparam>

	<include file="$(find mocap_qualisys)/launch/qualisys.launch">
		<arg name="server_address" value="$(arg server_address)" />
		<arg name="udp_port" value="$(arg udp_port)" />
	</include>

	<!-- <node pkg="uav_launch" name="configure_fake_gps" type="configure_fake_gps.py" 
		  output="screen" required="false" /> -->
    <remap from="/mavros/vision_pose/pose" to="/qualisys/UAV/pose" />
</launch>
