<launch>
    <node pkg="range_transformer" type="range_transformer_node" name="range_transformer" output="screen">
        <remap from="~/imu" to="/mavros/imu/data"/>
        <remap from="~/input" to="/mavros/rangefinder/rangefinder"/>
        <remap from="~/groundplane" to="/lio_sam/ground"/>

        <param name="view_radius" value="0.7"/>
        <param name="density" value="0.07"/>
    </node>
</launch>