<?xml version="1.0"?>
<launch>
    <node pkg="tf2pose" type="tf2pose_node" name="tf2pose_node" output="log" respawn="true" respawn_delay="0">
        <param name="robot_frame" value="base_link"/>
        <param name="reference_frame" value="map"/>
        <param name="pub_rate" value="30.0"/>

        <param name="robot_diameter" value="1.0"/>
        <param name="robot_height" value="0.74"/>
        <param name="robot_center_z_offset" value="-0.1"/>

        <remap from="~/output" to="/mavros/vision_pose/pose"/>
    </node>
</launch>