<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_sensors" output="screen"
          args="record 
                -o /home/uav2/bags/uavr
                --tcpnodelay
                --regex &quot;/mavros/(.*)&quot;
                /indurad/radar/packets
                /indurad/imu/packets
                /lio_sam/mapping/map_global
                /lio_sam/mapping/path
                /tf
                /tf_static
                /velodyne_packets"/>
</launch>
