<launch>
    
    <arg name="mocap" default="false" doc="whether or not to launch qualisys motion capture" />
    <arg name="lidar_mount" default="horizontal" doc="two lidar mounts are available: one fixed horizontal mount, one horizontal mount with fixed 15 degree pitch angle" />
    <!--static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
    <group if="$(arg mocap)" >
        <node pkg="tf2_ros" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 map optitrack_map" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="base" args="0 0 0 0 0 0 optitrack_uav base_link" />
    </group>
   
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu" args="0 0 0.085 0 0 0 base_link imu_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="rangefinder" args="0.14 0.04 -0.28 1.0 0 0 0 base_link rangefinder" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="radar" args="0 0 -0.33 1.5707 0 -3.1415 base_link indurad_link" />

    <group if="$(eval arg('lidar_mount') == 'horizontal')" >
        <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne" args="0 0 -0.045 0 0 0 base_link velodyne" />
    </group>
    <group if="$(eval arg('lidar_mount') == 'pitched')" >
        <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_mount" args="0.0 0.0 -0.115 0.0 0.0 0.0 1.0 base_link velodyne_mount" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_tilt_mount" args="0.00187 0.0 0.01423 0.0 0.1305262 0.0 0.9914449 velodyne_mount velodyne_tilt_mount" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne" args="0 0 0.04 0 0 0 velodyne_tilt_mount velodyne" />
    </group>
</launch>
