<launch>
    <arg name="record" default="false" doc="whether all messages should be logged via rosbag" />
    <arg name="savepath" default="/home/uavr/" doc="if record is set to 'true', determines path where rosbag is saved to" />
    <arg name="lidar" default="horizontal" doc="Specify Lidar mount. Three mounts are available: 
                                                    one fixed horizontal mount ('horizontal'), 
                                                    one horizontal mount with adjustable pitch angle ('adjustable'), and
                                                    one fixed vertical mount ('vertical'). 
                                                If no Lidar is mounted, set 'false'" />
    <arg name="lidar_tilt_angle" default="0" doc="if lidar_mount is set to 'horizontal', specifies the pitch angle with which the lidar is tilted" />
    <arg name="radar" default="false" doc="whether or not to launch radar" />


    <include file="$(find uav_launch)/launch/setup.launch"
             pass_all_args="true" />

    <include file="$(find uav_launch)/launch/include/lio-sam.launch" />
</launch>
